.title-header {
  text-align: center;
  padding: 4rem 0;
  user-select: none;
}

.title-header__text {
  font-size: 1.6rem;
  border: solid 2px $color-grey-700;
  color: $color-grey-700;
  font-weight: 400;
  border-radius: 2px;
  padding: 8px 50px;
  display: inline-block;
  text-transform: uppercase;
}