@use "color-tools" as *;

@include generateThemeVariables((
  // app-wide
  app-border: (
    light: var(--grey-500),
    dark: var(--raisin-100),
  ),

  // text
  text-label: (
    light: var(--raisin-100),
    dark: var(--grey-500),
  ),
))
