@use "colors" as *;
@use "color-use-cases";
@use "typography" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @include colors;
}

@layer base {

  //[type='text']:focus,
  //[type='email']:focus,
  //[type='url']:focus,
  //[type='password']:focus,
  //[type='number']:focus,
  //[type='date']:focus,
  //[type='datetime-local']:focus,
  //[type='month']:focus,
  //[type='search']:focus,
  //[type='tel']:focus,
  //[type='time']:focus,
  //[type='week']:focus,
  //[multiple]:focus,
  //textarea:focus,
  //select:focus,
  //.tl-toggle:focus-within {
  //  --tw-ring-color: #93c5fd;
  //  border-color: var(--tw-ring-color);
  //}
  //[type="checkbox"],
  //[type="radio"] {
  //  color: #3b82f6;
  //}
  //[type="checkbox"]:focus,
  //[type="radio"]:focus {
  //  --tw-ring-color: #93c5fd;
  //}
  //button:focus,
  //a:focus {
  //  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  //  border-color: #93c5fd;
  //  outline: none;
  //}

  body {
    font-size: 1.4rem;
    @apply bg-grey-100 dark:bg-raisin-500 text-raisin-900 dark:text-grey-100;
  }

  @include typography;

  .table {
    @apply text-sm border border-solid border-grey-500 dark:border-raisin-100 w-full rounded-md overflow-hidden;
  }

  .table table {
    @apply border-collapse w-full;
  }

  .table table tr {

    > th, > td {
      border-bottom: solid 1px var(--app-border);
      @apply text-left p-2;
    }

    tbody > tr:last-child td {
      border: none;
    }
  }
}

@mixin app-border {
  border-width: .1rem;
  border-color: var(--app-border);
}
